<a href="https://colab.research.google.com/github/dtMehmet/about-me/blob/main/mehmet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = input("are you cigarette addict  older then 75 years old:")
chronic = input("Do you have a severe chronic disease? yes or no:")
immune=input("Is your immune system too weak? yes or no:")
yes=True 
if (age=="True" or chronic=="True" and immune =="True"): 
   print("you have a death risk")

are you cigarette addict  older then 75 years old:yes
Do you have a severe chronic disease? yes or no:yes
Is your immune system too weak? yes or no:yes

In [ ]:

numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]
max(numbers, key=numbers.count )
numbers.count(max(numbers, key=numbers.count ) )

4

In [ ]:
a = list()
for i in range(1,11):
    a.append(i)
    a.sort(reverse=True)
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
num = int(input('enter a number:'))
if num %2 == 0 :
   print('{}is even'.format(num))
else : 
  print('is odd'.format (num))

enter a number:-11
is odd

In [ ]:
num = float(input('enter a number :'))
if num > 0 :
  print('it is a positive number')
else  :
  print('negative number')

enter a number :5
it is a positive number

In [ ]:
num1 = int(input('write a number :'))
num2 = int(input ('write a number :'))
if num1 > num2 :
   larger= num1
else  :
   larger =num2
   print('the larger number is :',larger)

In [ ]:
num1 = int(input('write a number :'))
num2 = int(input ('write a number :'))
if num1 > num2 :
   larger= num1 
else  :
   larger =num2
   print('the larger number is :',larger)

In [ ]:
bool_value = True

if bool_value : 
  print('yes')
else :
  print('no')

yes

In [ ]:
largest1=int(input('bir sayi giriniz :'))
largest2=int(input('bir sayi giriniz :'))
largest3=int(input('bir sayi giriniz :'))

if (largest1>=largest2) and (largest1 >= largest3) :
   num= largest1
elif (largest2>=largest1) and (largest2 >= largest3) :
   num= largest2

else  :
  num= largest3
  print('the largest number: num ')

In [ ]:
score= float(input('write a your score:'))

if  score >= 90:
     if score >= 95 :
       score_letter='A+'
     else :
       score_letter= 'A'
elif score >=80 :
     if score >= 85 :
         score_letter= 'B'
     else:
       score_letter='B'  

else :
   score_letter= 'Belov B'        
print('your degree :%s ' % score_letter)

write a your score:50
your degree :Belov B

In [ ]:
Task : Find out if the given word is "comfortable words" in relation to the ten-finger keyboard use.
A comfortable word is a word which you can type always alternating the hand you type with (assuming you type using a Q-keyboard and use of the ten-fingers standard).
The word will always be a string consisting of only letters from a to z.
Write a program which returns True if it's a comfortable word or False otherwise.
 
left=set('gwersdtfax')
print(left)

In [ ]:
left_hand = set("zxcvbasdfgqwert")
right_hand = set("nmöçhjklşiyuıopğü")

entered_word = input("please enter a word: ")
entered_word_set = set(entered_word)

right_intresctn = entered_word_set.intersection(right_hand)
left_intersctn = entered_word_set.intersection(left_hand)

result = bool(right_intresctn and left_intersctn)
print(result)

In [ ]:
date1 = set"02/21/2022")
date2= set("02/21/2022")

print(date1)

SyntaxError: ignored

In [ ]:
age = input("Are you a cigarette addict older than 75 years old (yes / no)").lower().split()
chronic = input ("Do you have a severe chronic disease? (yes / no)").lower().split()
immune = input("Is your immune system too weak?(yes/no").lower().split()
if (age =="yes" and chronic == "yes") or (chronic == "yes" and immune == "yes") or (immune == "yes" and age =="yes") :
  print("you are risky group")
else:
  print("yo are not risky group" )

Are you a cigarette addict older than 75 years old (yes / no)yes
Do you have a severe chronic disease? (yes / no)yes
Is your immune system too weak?(yes/noyes
yo are not risky group

In [ ]:
list =list(range(1,10)  )
print(list)

TypeError: ignored

In [ ]:
sayilar=range(1,11)
print(sayilar)

range(1, 11)

In [ ]:
Which of the following/followings are true? (Write the number/numbers in order and separate multiple answers with a comma)

1) The for loop only works with iterable objects.
2) A for loop in range(1, 5) will make 5 iteration.
3) In the nested loop the inner loop is executed first.
4) Nested loops work with any type of outer and inner loops.

In [ ]:
a = 3
while a**2 < 299:
    print('I will stop smoking')
    a += 3

I will stop smoking
I will stop smoking
I will stop smoking
I will stop smoking
I will stop smoking

In [ ]:
Is your immune system too weak?

In [ ]:
#year % 4 ==0 true
#year %400 ==0 true
#year %100  !=o false
#leap year check

year=int(input,("enter a year")
if year % 4 !=0
   print(year, "is a Leap Year")

SyntaxError: ignored

In [ ]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']

fruit_list = []
fruit_list.insert(0, fruits)
print(fruit_list[0][2][7])
#print= fruit_list

In [ ]:
sayi=int(input(' sayi gir:'))
if sayi < 0:
    print("bu sayi negatiftir")
elif sayi >0:
    print("bu sayi pozitiftir")
else:
    print("bu sayi sifirdir")

 sayi gir:-8
bu sayi negatiftir

In [ ]:
sinav_ort=float(input("not gir:"))
sinav_ort=round(sinav_ort)

if sinav_ort >=50:

     print("gecti")
else:
     print("kaldi")

not gir:49.6
gecti

In [ ]:
sayi1=int(input("sayi gir:"))
sayi2=int(input("sayi gir:"))
if  sayi1 > sayi2:
    print("sayi1 buyuktur")
elif  sayi1<sayi2:
    print("sayi2 buyuktur")
else:
    print("bu sayilar esittir")

In [ ]:
sayi1=int(input("sayi gir:"))
sayi2=int(input("sayi gir:"))
if  sayi1 > sayi2:
    print("sayi1 buyuktur")
if  sayi1<sayi2:
    print("sayi2 buyuktur")
if sayi1==sayi2:
    print("bu sayilar esittir")

In [ ]:

sayi=int(input(' sayi gir:'))
if sayi < 0:
    print("bu sayi negatiftir")
elif sayi >0:
    print("bu sayi pozitiftir")
else:
    print("bu sayi sifirdir") 


sinav_ort=float(input("not gir:"))
if sinav_ort >=50:
     print("gecti")
else:
     print("kaldi")
 
sayi1=int(input("sayi gir:"))
sayi2=int(input("sayi gir:"))
if  sayi1 > sayi2:
    print("sayi1 buyuktur")
if  sayi1<sayi2:
    print("sayi2 buyuktur")
if sayi1==sayi2:
    print("bu sayilar esittir")
bu yanlis
sayi1=12
sayi2=60
toplam=0
if sayi1<=sayi2: 
if sayi1 % 2==0: 
if sayi1=sayi2: 
toplam=(sayi1+sayi2)
      print(toplam)
#120
  else:
      print(toplam=sayi2-sayi1)

toplam+=toplam
       print(toplam)
6.soru da ona bagli

#sayi=input(range(1,5):
sayi=range(1,5)
mevsimler={"ilkbahar":"1",
       "yaz":"2",
       "sonbahar":"3",
       "kis":"4"
       }
print(mevsimler.keys())

#print(mevsimler.values())

#soruda bizden key degerlerini istiyor. istersek 
#value leri de bastirabiliriz.

a=input("a:")
b=input("b:")
c=input("c:")
d=input("d:")
if a==b==c==d:
  print("bu sekil bir karedir")
else:
  print("bu sekil bir dikdortgen veya coklu dortgendir")
''' 
    
a=input("a:")
b=input("b:")
c=input("c:")

if a==b==c:
   print("bu sekil bir es kenar ucgendir")
elif (a==b) and (b!=c):
   print("bu sekil bir ikiz kenar ucgendir")
elif (a!=b) and (b==c):
   print("bu sekil bir ikiz kenar ucgendir")
elif(a!=b) and (a==c):
   print("bu sekil bir ikiz kenar ucgendir")   
else:
   a=print("bu sekil bir cesit kenar ucgendir")

In [ ]:
bmi=kilo / (boy**2)
boy =input("boy:")
kilo =input("kilo:")
print(bmi)

if bmi <18.5:
    print("zayifsin")
elif bmi<=25:
    print("normalsin")
elif bmi<=30 and bmi >25: 
    print("obezsiniz")
elif bmi>25:
    print("obezsiniz")

In [ ]:
sozluk1 = {
    'c1': 'BMW',
    'c2': 'Mercedes',
    'c3': 'Audi',
    'c4': 'Volvo'
}
result = sozluk1.get('c4')
print(result)

Volvo

In [ ]:
Ad = input('adinizi giriniz:')
if Ad == "yusuf": 
  print('merhaba yusuf! sifre:W@12')
elif Ad != 'yusuf':
  print("merhaba Amina sonra gorusuruz")

adinizi giriniz:ali
merhaba Amina sonra gorusuruz

In [ ]:
 basket= {'carnation', 'orchid', 'rose', 'violet'}
 basket_1= set(basket)
 print(basket_1)
 basket_2 = list(basket)
 print(basket_2)

In [ ]:
print(len(set('listen to the voice of enlisted')))

13

In [ ]:
my_number1=[1, 19, 3, 6, ]
my_number2=[8, 6, 4, ]
my_number3=(my_number1 + my_number2)
print(my_number3)
my_number3.sort()

#my_number1.sort()
#print(my_number1)

[1, 19, 3, 6, 8, 6, 4]

In [ ]:
numbers = {}

numbers['x'] = 12
numbers['y'] = 4
numbers.update({'z': 3})

print(numbers['x'] + numbers['y'] + numbers['z']**2)

25

In [ ]:
fruits_vegetables = ["fruit", "vegetable", ["apple", "banana", ["mango", "avocado"]], ["spinach", "broccoli"]]
print(fruits_vegetables[0])

fruit

In [ ]:
my_list=[1,2,3,4,5,]
new_list= []
print(new_list)

for * in my_list:
  if * % 2 !=0:
  new_list.append(x**2)
print(new_list)

SyntaxError: ignored

In [ ]:
list=['bir','iki','uc','alti', 'dort']
list.sort()
print(list)

['alti', 'bir', 'dort', 'iki', 'uc']

In [ ]:
globals()['z'] = 23

print(z)
print(dir{})
print(dir"")

SyntaxError: ignored

In [ ]:
a ="elif"
id(a)

140717572477360

In [ ]:
azmi = [400, 176, 64, 175, 355, 13, 207, 298, 397,
386, 31, 120, 120, 236, 241, 123, 249, 364, 292,
153, 15, 11, 9,]
for a in azmi:
    if a % 2 == 1:
        print(a)

175
355
13
207
397
31
241
123
249
153
15
11
9

In [ ]:
isim="Mustafa"
a=0
while a<len(isim):
 print(isim[a], end=",")
 a=a+1

M,u,s,t,a,f,a,

In [ ]:
isim="Mustafa"
for a in isim:
 print(a,end=",")

M,u,s,t,a,f,a,

In [ ]:
 l = [1, 4, 5, 4, 2, 9, 10]
def karesi(n):
    return n ** 2

list(map(karesi, l))

[1, 16, 25, 16, 4, 81, 100]

In [ ]:
string_1= ' ben eve gidiyorum'
nev_list_1= list(string_1)
print(nev_list_1)

[' ', 'b', 'e', 'n', ' ', 'e', 'v', 'e', ' ', 'g', 'i', 'd', 'i', 'y', 'o', 'r', 'u', 'm']

In [ ]:
city=['antalya','ankara','eskisehir']
city.append('konya') 
city.remove('antalya')
city.insert(1,'istanbul')
print(city)

In [ ]:
fruits= ['aple','banana','watermelon','orange','mango','avocado']

fruit_list=[]
fruit_list.insert(0,fruits)

print(fruit_list[0][2][7])

l

In [ ]:
print(len([[12,34, 56]]))

1

In [ ]:
my_list1 = [4, 5, 2, 1]
my_list2 = [3, 6, 7, 8, 9, 10]
print(my_list1 + my_list2)
my_list =(my_list1 + my_list2 )

my_list.sort()

[4, 5, 2, 1, 3, 6, 7, 8, 9, 10]

In [ ]:
test = [10, 3, 7, 5]
test.sort()
print(test)

[3, 5, 7, 10]

In [ ]:
word="clarusway"
n=3
frank=
back=
print(front+back)

SyntaxError: ignored

In [ ]:
celcius_1 = float(input("value of in the room temperature" ))
fahrenheit_1 =(celcius_1*9/5)+32

print(fahrenheit_1)

In [ ]:
distance_1=int(input("write enter the number of kilometres" ))
mile_1= (distance_1)*0.62

print(mile_1
      )

write enter the number of kilometres50
31.0

In [ ]:
f = 3.14   # the type is float

i= int(f)   # while converting a float value to an integer its decimal part is disregarded

print(i, '\n')
print(type (i))

In [ ]:
f = 3.14  # the type is float

i = int(f)  # while converting a float value to an integer its decimal part is disregarded

print(i, '\n')
print(type(i))

In [ ]:
i= 3
f= float (i)
print(f)
print(f , '\n')

print(type(f))

In [ ]:
x= 39
v= "11"
y="2.5"
z=" i love you_"
print(x-int(v))
print(x-float(y))
print(z+str(x))

In [ ]:
a= 36.5
b= '30'
c= '3.5'
d= 'F is enough  room temperature.'

print(str(a+int(b)+float(c))+str(d))

In [ ]:
first_name ='Ali'  #ali is genel mudur
second_name = 'bey'
output='hosgeldiniz, {} {} ,nasilsiniz'.format(first_name,second_name)

output='hosgeldiniz , {} {}  nasilsiniz'.format('ali', 'bey' )
print(output)

In [ ]:
last_name='Harrison'
last_name[::2]

In [ ]:
text='benim adim mehmet'
print(text.capitalize())
print(text.upper())
print(text.count('e'))

print('hell0', text.capitalize())

In [ ]:
print(int(12)+int(21))

In [ ]:
number=32
print('1988' + str '32')
print,type('1988')

In [ ]:
print('www', 'clarusway', "com", sep='.', end=' ')
print('will', end=' ')
print('open', end=' ')
print('your', end=' ')
print('path', end='.')

www.clarusway.com will open your path.

In [ ]:
number=int(input("sayi girin : " ) )
if number>=10 :
    print("The number is equal or greater than 10")
elif number<10:
     print("The number is less than 10")

sayi girin : 23
The number is equal or greater than 10

In [ ]:
def my_function(a, b): 
 print(a + b) 
my_function(3, 5)

8

In [ ]:
city = ['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.remove('London')
print(city)  # we have deleted 'London'

['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [ ]:
date=set("02/21/2022")
print(date)

{'1', '/', '0', '2'}

In [ ]:
capital_usa=set("washington")
capital_new_zeland=set("wellington")
print(set(capital_usa))
print(set(capital_new_zeland))
print(capital_new_zeland-capital_usa)
print(capital_new_zeland&capital_usa)

{'s', 'o', 'w', 'a', 'h', 'g', 'n', 'i', 't'}
{'o', 'w', 'e', 'g', 'n', 'i', 't', 'l'}
{'e', 'l'}
{'o', 'w', 'g', 'n', 'i', 't'}

In [ ]:
 #malzemeler 
 minced=True
 bread=True
 lettuce=True
 onion=False
 grocer=True
 hamburger= minced and grocer and bread and (lettuce or onion)
 if hamburger  :
   print("Bon Appetit")

Bon Appetit

In [ ]:
set1=set("TWELVE PLUS ONE")
set2=set("ELEVEN PLUS TWO")
if  set1==set2 :
   print('we are the same')

we are the same

In [ ]:
convert = input("yes or no :").title().strip() == "yes"
yes =True

yes or no :yes

In [ ]:
print(f"You entered{input(' enter yes or no :').title().strip() == 'yes'}")

 enter yes or no :yes
You enteredFalse

In [ ]:
type(convert)

bool

# New Section

In [ ]:
n= int(input('enter a number between 1-10'))

for i in range(1, 11):
  print('{}*{} = '.format(n, i), n*i)

enter a number between 1-105

IndexError: ignored

In [ ]:
start_numb=int(input('enter a start number'))
stop_numb= int(input('enter a stop number'))
for i in range(start_numb, stop_numb+1) :
     print(i*str(i))

enter a start number1
enter a stop number9
1
22
333
4444
55555
666666
7777777
88888888
999999999

In [ ]:
city = Phoenix
sprint(city)

# New Section

# New Section

In [ ]:
sehir = "ANTALYA"

print(sehir [1 : 5]  )
print(sehir [ : 6 ] )
print(sehir [ -3 : -2] )
print( sehir [ : : 3] )
print(sehir [ : 4 : 2])
print(sehir[ 1:6:2])
sehir[2:6]
print(sehir [2 : 6] )
sehir[-2:-5]
sehir[::-2]

In [ ]:
string_one = "supper"
string_two = "case"
string_comb = string_one + string_two
print(string_comb)
print("supper"+ "case")
print(string_one +string_two)
print(* "string_one")

In [ ]:
time = "04:00"
work = "hospital"
lunc_time = "12:30"
" ben sabah {} de uyandim . {} calismaya basladim. ogle yemegi {}" .format(time, work,lunc_time)

# New Section

In [ ]:
city= Phoenix
 city[ 2 : -6 ]

In [ ]:
int="2020"
print( " clarusway"+ int("2020") )

In [ ]:
print("clarusway"  + ("2020")+"." )

In [ ]:
print(7//2)

In [ ]:
days_in_february = 28
print(str(days_in_february) + 'total days in february' )

In [ ]:
firt_name = mehmet
second_name = akgun
print( "hello , " + first_name + '' last_name  )

In [ ]:
print( 'hello,') '{} {}' . format ( first+name , last_name)

In [ ]:
print( 'hello, {0} {1}' . format(first_name , last_name)

In [ ]:
meyve = 'portakal'
 print ( 'kelime:' , meyve )
 print  ( ' ilk harf :' , meyve [0])
 print ( 'ikinci harf :' , meyve [1])
 print ( "3. ila 5. harfler : ", meyve [ 2 : 5 ])
 print ( " 3 ' ten sonraki harf : " , meyve [2 : ])

In [ ]:
path = 'claruway'
print(path [0])

In [ ]:
sentence = 'With hard work and dedication , anything is possible.'

print(sentence . swapcase ())

In [ ]:
print( 'www' , 'Clarusway' , 'com',  sep= '.' , end='')
print('will' , end= ' ')
print('open' , end= ' ')
print('your' , end= ' ')
print('path' , end=  ' ')

In [ ]:
name = 'Clarusway'
year='2020'
print=(int(name) , int(year) )

In [ ]:
print( "it 's a small code after all" )

In [ ]:
first_name= "mehmet"
last_name="akgun" 
print first_name.capitaliza() + second_name.capitalize()

In [ ]:
print'False or {0} and [] '

In [ ]:
me

In [ ]:
fruit = "elma"
vegetable = " marul"

print ( " using + : " , fruit + vegetable)

In [ ]:
city  = 'Phoenix'

print ( city  [ 1 : ])  # dizin 1' den sonuna kadar baslar
print ( city [ : 6  ])    # sifirdan 5. dizine kadar baslar   
print ( city [ :: 2 ])    # sifirdan baslayip 2 adim sonuna kadar 
print (  city [ 1 :: 2 ])  # 1 den baslayip 2 adim sonuna kadar
print (  city [ -3 : ])   # -3 ten  baslayip sonuna kadar gider
print (  city [ :: - 1 ])  # negatif adim sondan sifira baslar

In [ ]:
sebze = 'domates'
print ( 'kelimenin uzunlugu'  , 'sebze : ' , len ( sebze )

In [ ]:
 ()

In [ ]:
name = input("what is your name?")
print("hello " , name )
age = int(input("How old are you?"))
if age >=70:
    print("you are aged to perfection")
else:
    print("you are spring chicken")

In [ ]:
text1= "Clarusway,"*3
text2= "\n\t" + text1
text3= "\n\t\t" + text1
print(text1 + text2 + text3 , sep= "\n")

In [ ]:
print(1+3)**(2**(1*2/2)/2)

In [ ]:
print=(False or {0} and ())

In [ ]:
?print=

In [ ]:
print('c:\\north pole\noise_penguins.txt')

In [ ]:
print(2 and 3)

In [ ]:
print(1 and 0)

In [ ]:
print( Clarusway, Clarusway, clarusway, \nClarusway, clarusway, Claruway, \nClarusway, Clarusway, Clarusway, )

In [ ]:
print=(False)

In [ ]:
a=3
b=4
c= (a**2) + (b**2) * 0.5

print(c)

In [ ]:
print( 1+3) ** (2 ** (1 * 2/2)/2)

In [ ]:
print( 1 + 3 )

In [ ]:
a= ( 1 + 3 ) ** ( 2 ** ( 1 * 2/2) / 2)
print(a)

In [ ]:
a=3
b=4
task= (a**2) + ( b**2 ) ** 0.5
print(task)

In [ ]:
man = "andrew"
color = "green"
age = 32
print(age)

In [ ]:
man = "andrew"
color = "green"
age = 32
pi = 3.14 
color = "yellow"
age = 44
man = "joseph"

print(man, age, color, pi)

In [ ]:
type(pi)

In [ ]:
int

typ('valuable')

In [ ]:
int("10")

In [ ]:
int(3.14)

In [ ]:
no = 3

converted_no = float(no)
print(converted_no)
print(type(converted_no))

In [ ]:
x = 39
v = "11"
y = "2.5"
z = "i am at_39"

print(x-int(v))
print(x-float(y))
print(z+str(x))

In [ ]:
text1=("i have learned strings")

In [ ]:
number_int = 123
number_flt = 1.23

number_new = number_int + number_flt

print(number_new)

print("datatype of number_int:", type(number_int))

In [ ]:
print(11-7)

In [ ]:
print('mehmet')

In [ ]:
number_int= 123
number_str="456"


number_str = int(number_str)
print(" Data type of number_str after type Casting:", type (number_str))

In [ ]:
program = 'clarusway'

In [ ]:
print ('data type of number_int', type(number_int))

In [ ]:
number_int =123
('Data type of number _int:', type( number_str)
print('Data type of numbr_int:', type(number_int))

In [ ]:
print(11 % 2)

print((4*5) / 2 )

In [ ]:
print(2 ** 3)
print(3 ** 2)
a = 2
b = 8
print((a * b) ** 0.5 )

In [ ]:
pr

In [ ]:
pi = 3.14
r = 5
area = pi * r**2
print(area)

In [ ]:
print(11-7)

In [ ]:
print(11-7)
print(4+ 11.0)
print('11 - 7')
print('4'+ 4)

In [ ]:
pi = 3.14
r = 5
alan = pi * r**2
print(area)

print('5' + '1' )

In [ ]:
from IPython.display import display, Javascript
from google.colab.output import eval_js
from base64 import b64decode

def take_photo(filename='photo.jpg', quality=0.8):
  js = Javascript('''
    async function takePhoto(quality) {
      const div = document.createElement('div');
      const capture = document.createElement('button');
      capture.textContent = 'Capture';
      div.appendChild(capture);

      const video = document.createElement('video');
      video.style.display = 'block';
      const stream = await navigator.mediaDevices.getUserMedia({video: true});

      document.body.appendChild(div);
      div.appendChild(video);
      video.srcObject = stream;
      await video.play();

      // Resize the output to fit the video element.
      google.colab.output.setIframeHeight(document.documentElement.scrollHeight, true);

      // Wait for Capture to be clicked.
      await new Promise((resolve) => capture.onclick = resolve);

      const canvas = document.createElement('canvas');
      canvas.width = video.videoWidth;
      canvas.height = video.videoHeight;
      canvas.getContext('2d').drawImage(video, 0, 0);
      stream.getVideoTracks()[0].stop();
      div.remove();
      return canvas.toDataURL('image/jpeg', quality);
    }
    ''')
  display(js)
  data = eval_js('takePhoto({})'.format(quality))
  binary = b64decode(data.split(',')[1])
  with open(filename, 'wb') as f:
    f.write(binary)
  return filename

In [ ]:
%%javascript
const listenerChannel = new BroadcastChannel('channel');
listenerChannel.onmessage = (msg) => {
  const div = document.createElement('div');
  div.textContent = msg.data;
  document.body.appendChild(div);
};

In [ ]:
%%javascript
const senderChannel = new BroadcastChannel('channel');
senderChannel.postMessage('Hello world!');

In [ ]:
from IPython.display import Image
try:
  filename = take_photo()
  print('Saved to {}'.format(filename))
  
  # Show the image which was just taken.
  display(Image(filename))
except Exception as err:
  # Errors will be thrown if the user does not have a webcam or if they do not
  # grant the page permission to access it.
  print(str(err))